<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universe IT Institute</title>
    <link rel="icon" type="image/png" href="images/icon.png"/>
 
    </style>
</head>
<body>
    <h1>Md. Noor Alam</h1>
    <p>AIB PLC</p>
    <p>Purana Paltan</p>
    <small>Head Office, Dhaka</small>
    <p><del>People Building</del></p>
    <p>log<sub>10</sub></p>
    <p>(a+b)<sup>2</sup>=a<sup>2</sup>+2ab+b<sup>2</sup></p>

    <img src="images/fb.webp" alt="Images prompt" height="100" widgth="100">
<p>
    <address>
        Al-Arafah Tower,<br>
        Head Office,<br>
        Purana Paltan, Dhaka-1000.
    </address>
</P>    

</body>
</html>